@charset "UTF-8";
/*
MEDIA QUERY MANAGER - 
----------------------
0 to 600px – PHONES ONLY
600px to 900px – TABLET PORTRAIT
900px to 1200px – TABLET LANDSCAPE
1200px to 1800px – DESKTOP
1800px and more – BIG DESKTOP
-----------------------------------

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  direction: rtl; }

body {
  line-height: 1.6;
  font-size: 2rem;
  font-family: 'Heebo', sans-serif; }

label {
  width: 25rem;
  text-align: center;
  margin-bottom: 1rem; }

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 25rem;
  height: 5rem;
  outline: none; }

input[type="text"],
input[type="password"] {
  text-align: center; }

input[type="submit"] {
  background: #ad5389;
  background: -webkit-linear-gradient(to left, #3c1053, #ad5389);
  background: linear-gradient(to left, #3c1053, #ad5389);
  border: 0;
  width: 25rem;
  height: 5rem;
  color: white;
  font-weight: bold;
  cursor: pointer; }

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin: 1rem 0; }

textarea {
  width: 25rem; }

.mainPage {
  position: absolute;
  top: 5rem;
  right: 5rem;
  background: #ad5389;
  background: -webkit-linear-gradient(to left, #3c1053, #ad5389);
  background: linear-gradient(to left, #3c1053, #ad5389);
  border: 0;
  width: 25rem;
  height: 5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainPage svg {
    margin-left: 1rem; }

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-wrapper form {
    width: 50rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.newUser-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .newUser-wrapper form {
    width: 30rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .newUser-wrapper form .role-wrapper {
      margin-bottom: 1rem;
      text-align: center;
      width: 100%; }
    .newUser-wrapper form label:last-child {
      margin-right: 2rem; }

.uploadGuests-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .uploadGuests-wrapper .inst {
    width: 70%;
    text-align: right;
    font-weight: bold;
    color: #ad5389;
    margin-bottom: 1rem; }
  .uploadGuests-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90rem;
    height: 40rem; }

.sendSms-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sendSms-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 65rem; }
    .sendSms-wrapper form .smsType-wrapper label:last-child {
      margin-right: 2rem; }

.dashboard-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dashboard-wrapper .menu {
    width: 90%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dashboard-wrapper .menu .menu-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%; }
      .dashboard-wrapper .menu .menu-list .menu-item {
        width: 45%;
        height: 10rem;
        text-align: center;
        background: #ad5389;
        background: -webkit-linear-gradient(to left, #3c1053, #ad5389);
        background: linear-gradient(to left, #3c1053, #ad5389);
        cursor: pointer; }
        .dashboard-wrapper .menu .menu-list .menu-item:not(:last-child) {
          margin-bottom: 1rem; }
        .dashboard-wrapper .menu .menu-list .menu-item a {
          color: #fff;
          width: 100%;
          height: 100%;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none; }
          .dashboard-wrapper .menu .menu-list .menu-item a svg {
            margin-left: 1rem; }
