// BASE SETTINGS OF PROJECT
// Already have resets in css/normalize.css
*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;
    direction: rtl;
}

body {
    line-height: 1.6;
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
}