// Repeated Blocks (like buttons etc.)
label {
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 25rem;
    height: 5rem;
    outline: none;
}

input[type="text"],
input[type="password"] {
    text-align: center;
}

input[type="submit"] {
    background: #ad5389;
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);
    background: linear-gradient(to left, #3c1053, #ad5389);
    border: 0;
    width: 25rem;
    height: 5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0;
}

textarea {
    width: 25rem;
}

.mainPage {
    position: absolute;
    top:5rem;
    right: 5rem;
    background: #ad5389;
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);
    background: linear-gradient(to left, #3c1053, #ad5389);
    border: 0;
    width: 25rem;
    height: 5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    @include flexCenter;

    svg {
        margin-left: 1rem;
    }
}