.login-wrapper {
    height: 100vh;
    width: 100vw;
    @include flexCenter;
    form {
        width: 50rem;
        height: 50rem;
        @include flexCenter;
        flex-direction: column;
    }
}


.newUser-wrapper {
    width: 100vw;
    height: 100vh;
    @include flexCenter;
    form {
        width: 30rem;
        height: 50rem;
        @include flexCenter;
        flex-direction: column;
        .role-wrapper {
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
        }

        label:last-child {
            margin-right: 2rem;
        }
    }
}

.uploadGuests-wrapper {
    // background-color: red;
    width: 100vw;
    height: 100vh;
    @include flexCenter;
    .inst {
        width: 70%;
        text-align: right;
        font-weight: bold;
        color: #ad5389;
        margin-bottom: 1rem;
    }

    form {
        @include flexCenter;
        flex-direction: column;
        width: 90rem;
        height: 40rem;
    }
}


.sendSms-wrapper {
    width: 100vw;
    height: 100vh;
    @include flexCenter;
    form {
        @include flexCenter;
        flex-direction: column;
        width: 50rem;
        height: 65rem;

        .smsType-wrapper {
            label:last-child {
                margin-right: 2rem;
            }
        }
    }
}



.dashboard-wrapper {
    height: 100vh;
    width: 100vw;
    @include flexCenter;

    .menu {
        width: 90%;
        height: 40rem;
        @include flexCenter;

        .menu-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            
            .menu-item {
                width: 45%;
                height: 10rem;
                text-align: center;
                background: #ad5389;
                background: -webkit-linear-gradient(to left, #3c1053, #ad5389);
                background: linear-gradient(to left, #3c1053, #ad5389);
                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                a {
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    font-weight: bold;
                    @include flexCenter;
                    text-decoration: none;

                    svg {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}